body{
    
    margin: 0;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{
    color: chocolate;
}
.text{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.text img{
    width: 100%;
}
.bgimage{

background-image: url(picture/top-banner.png);
background-repeat: no-repeat;

}
section{
    height: 500px;
    padding-bottom: 10px;
}
.button{
text-decoration: none;
background-image: linear-gradient(90deg, rgb(22, 147, 230),rgb(15, 184, 175));
padding: 10px 20px;
border-radius: 5px;
color: wheat;
font-weight: 700;
}
.second{
    background-image: url(picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
    background-color: white;
}
.experience{
    background-image:url("picture/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
 
}
#line{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(0, 204, 255),blue);
    border-image-slice: 1;
}
#line2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(0, 255, 234),rgb(34, 80, 51));
    border-image-slice: 1;
}
footer{
    text-align: center;
}